<div class="container mt-4" *ngIf="sneaker; else loading">

  <ngx-slick-carousel class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of sneaker.imageUrl" class="slide">
      <img src="{{ image }}" alt="" class="w-100">
    </div>
  </ngx-slick-carousel>

  <div class="mt-5">
    <p class="sneaker-title mb-2">{{sneaker.name}}</p>
    <p>{{sneaker.description}}</p>
  </div>

  <div class="mt-2">
    <p class="sneaker-title mb-2">Comentarios</p>
    <div *ngIf="isLog">
      <button class="mb-2" (click)="manageForm(!showForm)" *ngIf="!showForm">Añadir comentario</button>
      <app-create-comment *ngIf="showForm"
                          (closeFormEmitter)="manageForm($event)"
                          [sneakerUid]="sneaker.id"></app-create-comment>
    </div>

    <div *ngIf="commentsObservable | async as comments">
      <div class="row justify-content-center mt-2 mb-4" *ngIf="comments.length > 0; else nocomments">
        <app-sneaker-comments *ngFor="let comment of comments;" [comment]="comment"></app-sneaker-comments>
      </div>

      <ng-template #nocomments>
        Esta zapatilla no cuenta con ningún comentario.
      </ng-template>

    </div>

  </div>

  <div class="row justify-content-center position-sticky w-100 sneaker-buttons pb-2 mt-5">
    <a class="col-7 mr-2 button text-center my-auto" href="{{sneaker.shopUrl}}" target="_blank">
      Adquirir
    </a>
    <button class="col-3 button"><i class="fas fa-heart"></i></button>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
