<div class="container mt-4" *ngIf="sneaker">


  <ngx-slick-carousel class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of images" class="slide">
      <img src="{{ image}}" alt="" class="w-100">
    </div>
  </ngx-slick-carousel>

  <small>Subido por Adrián</small>

  <div class="my-3">
    <p class="sneaker-title mb-2">{{sneaker.name}}</p>
    <p>{{sneaker.description}}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor nulla congue, dapibus nunc sit amet, tempus lacus. Morbi mollis purus quam, in faucibus.
    </p>
  </div>

  <div class="mt-2">
    <p class="sneaker-title mb-2">Comentarios</p>

    <div class="comments py-3 px-2">
      Añadir un comentario
    </div>
  </div>

  <div class="row justify-content-center position-sticky w-100 sneaker-buttons pb-2 mt-5">
    <button class="col-7 mr-2">Adquirir</button>
    <button class="col-3"><i class="fas fa-heart"></i></button>
  </div>

</div>
