<div class="col-12 my-3 pointer" [routerLink]="['/Sneaker', sneaker.id]">
  <div class="row mx-0 py-2 align-items-center item-top">
    <div class="col-6 text-center align-content-center">
      <img class="h-25 w-75" src="{{sneaker.imageUrl[0]}}" alt="">
    </div>
    <div class="col-6">
      <p class="sneaker-font font-weight-light font-size-16">{{sneaker.name}}</p>
    </div>
  </div>
  <div class="row mx-0 py-3 align-items-center justify-content-around item-bottom">
    <p class="col-4 font-size-16">{{sneaker.likes.length}} <i class="fas fa-heart"></i></p>
    <img class="col-2" src="../../../assets/img/iconSee.png" alt="">
  </div>
</div>
