<div *ngIf="sneakerObservable | async as sneakers; else loading">
  <app-sneaker-page-presentation [title]="title"></app-sneaker-page-presentation>

  <div class="row justify-content-center mb-2">
    <button routerLink="Create-Post" class="col-11 px-0 py-2 font-size-14 mt-3">Crear Publicación</button>
  </div>

  <div class="mt-5" >
    <app-sneaker-user-post *ngFor="let sneaker of sneakers" [sneaker]="sneaker"></app-sneaker-user-post>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
