<div class="row slide-1" >
  <div class="col-12 landing-bg-overlay ">
    <div class="row h-100 align-content-center justify-content-center ">
      <div class="col-12 text-center py-5 header-bg" routerLink="#section2">
        <h1 class="sneaker-font font-size-40 ">
          Welcome to Sneakergram
        </h1>
        <h2 class="mt-4 sneaker-font font-size-20 ">
          <p class="text-animation">
            Start to share your<br>
            sneaker taste
          </p>
        </h2>
        <div class="col-12 text-center">
          <img class="img-animation-1" src="../../../assets/img/icons8-scroll-up-24.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center content position-relative">
</div>
<div class="row mx-0 slide-2">
  <div class="col-12 landing-bg-overlay">
    <div class="row mx-0  h-100 align-content-center">
      <div class="col-12 header-bg py-3">
        <ngx-slick-carousel class="carousel position-relative"
                            #slickModal="slick-carousel">
          <div ngxSlickItem class="slide ">
            <img src="../../../assets/img/Group30.png" alt="" class="w-100">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/img/Group30.png" alt="" class="w-100">
          </div>
          <div ngxSlickItem class="slide">
            <img src="../../../assets/img/Group30.png" alt="" class="w-100">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center content position-relative">
</div>
<div class="row slide-3">
  <div class="col-12 landing-bg-overlay">
    <div class="row h-100 justify-content-center align-content-center  py-3">
      <button routerLink="Access" class="col-8 sneaker-font font-size-14 px-0 py-2 mt-4">Acceder</button>
    </div>
  </div>
</div>

