.page-presentation-bg{
  height: 15vh;
  background-image: url("../../../assets/img/page-presentation-bg.png");
}

.overlay-page-presentation{
  background: rgba(0, 0, 0, 0.8);
}

.title-bg{
  background-color: #F4E9E9;
}

.h1-sneaker-style{
  font-size: 20px;
}
