<div *ngIf="sneakerCollectionObservable | async as collections; else loading">
  <app-sneaker-page-presentation [title]="title"></app-sneaker-page-presentation>

  <div class="row mx-0 justify-content-center my-3">
    <button routerLink="Create-Collection" class="col-9 px-0 py-2 font-size-14 mt-3">Crear Colección</button>
  </div>

  <div class="mt-5" >
    <app-sneaker-collection *ngFor="let collection of collections" [collection]="collection" [collectionActions]="collectionActions"></app-sneaker-collection>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
