<div class="row mx-0 h-100 align-content-center justify-content-center">
  <div class="col-11">
    <div class="row mx-0 align-items-center justify-content-center">
      <h1 class="w-100 text-center sneaker-font font-size-20 sneaker-bg-color pt-3 pb-3">
        Bienvenido a Sneakergram
      </h1>
      <div class="col-12 login-signin-wrap-style" >
        <div class="row mx-0 justify-content-around h-100 pt-3 pb-3">
          <button [routerLink]="['/Access/Registration']" class="col-5 sneaker-font font-size-14 px-0 py-2">Registrate</button>
          <button [routerLink]="['/Access/Login']" class="col-5 sneaker-font font-size-14 px-0 py-2">Iniciar Sesion</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 landing-info-wrap-style mt-4 py-3 text-white">
    <h2 class="sneaker-font text-center font-weight-bold font-size-16 ">¿Qué ofrecemos?</h2>
    <div class="row mx-0 mt-3">
      <p class="col-12 font-size-14 text-center">
        Sneakergram es una red social que permite a usuarios de todo el mundo añadir su sneakers con el
        fin de compartirlas con el resto de usuarios y que pueda haber una interacción entre personas de
        todo el mundo, prueba a crear una publicación con tu sneaker preferida para que el mundo pueda
        observarla.
      </p>
    </div>
  </div>
  <button class="col-8 sneaker-font font-size-14 px-0 py-2 mt-4" [routerLink]="['/Content/LatestPosts']">Entrar como visitante</button>
</div>
