.side-menu-bg{
  height: calc(100vh - 8vh);
  background-image: url("../assets/img/bg.png");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: 0% -4%;
  transition: 0.5s ease-in-out;
  left: 100%;
  top: 8vh;
  z-index: 9000;
  overflow-x: hidden;
}

