<div class="row mx-0 h-100 align-content-center justify-content-center">
  <div class="col-11 font-size-40 sneaker-font font-weight-light text-white">Mi cuenta</div>
  <div class="col-11 mt-3">
    <div class="row mx-0 align-items-center profile-item py-3">
      <img class="ml-3" src="../../../assets/img/userProfileDefaultPicture.png" alt="">
      <p class="col-3 ml-3 text-white font-weight-bold">Usuario:</p>
      <p class="col-5 text-right text-white font-weight-bold">Adeje 37</p>
    </div>
  </div>
  <div class="col-11 mt-3">
    <div class="row mx-0 justify-content-center profile-item py-4">
        <button class="col-9 px-0 py-2 font-size-14">Mis publicaciones</button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3">Publicaciones favoritas</button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3">Mis colecciones</button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3">Colecciones que me gustan</button>
    </div>
  </div>
</div>
