<div class="row mx-0 h-100 align-content-center justify-content-center" *ngIf="loggedUser; else loading">
  <div class="col-11 font-size-40 sneaker-font font-weight-light text-white">Mi cuenta</div>
  <div class="col-11 mt-3">
    <div class="row mx-0 align-items-center profile-item py-3 flex-wrap">

      <img class="col-4" src="{{loggedUser.photoUrl}}" alt="User Photo" *ngIf="loggedUser.photoUrl; else default">
      <ng-template #default>
        <img class="col-4" src="../../../assets/img/userProfileDefaultPicture.png" alt="User Photo">
      </ng-template>
      <p class="col-3 text-white font-weight-bold">Usuario:</p>
      <p class="col-5 text-white font-weight-bold">{{loggedUser.userName?loggedUser.userName:"Uknown"}}</p>
    </div>
  </div>
  <div class="col-11 mt-3">
    <div class="row mx-0 justify-content-center profile-item py-4">
        <button class="col-9 px-0 py-2 font-size-14"
                routerLink="/Content/My-Posts" > Mis publicaciones </button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3"
                routerLink="/Content/Favoritos">Publicaciones favoritas</button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3"
                routerLink="/Content/My-Collections">Mis colecciones</button>
        <button class="col-9 px-0 py-2 font-size-14 mt-3">Colecciones que me gustan</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
