<div class="container-fluid" *ngIf="sneaker; else loading">

  <app-sneaker-subheader
    [title]="title"
  ></app-sneaker-subheader>

  <form class="col-12" [formGroup]="sneakerForm" (ngSubmit)="editSneaker(sneakerForm)">

    <div class="row">
      <input class="col-12 font-size-16 py-3" type="text" placeholder="Nombre" formControlName="name">
      <small class="form-text text-muted">Máximo 60 caracteres.</small>
    </div>

    <div class="row mt-2">
      <input class="col-12 font-size-16 py-3" type="text"
             placeholder="Enlace al producto" formControlName="shopUrl">
    </div>

    <div class="row mt-2">
      <textarea name="" id="" class="col-12 py-1 font-size-10" rows="5"
                placeholder="Descripción" formControlName="description"></textarea>
      <small class="form-text text-muted">Máximo 255 caracteres.</small>
    </div>

    <div class="row">
      <button class="col-12 sneaker-font font-size-14 px-0 py-2"
              [disabled]="!sneakerForm.valid"
              [class.disabled]="!sneakerForm.valid">Guardar</button>
    </div>
  </form>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
